/* BOOKS AND CATEGORIES ON HOME PAGE */

.categories .card-deck .card {
    /* margin: 0 auto; */
    max-width: 6.4rem;
    min-width: 6.4rem;
    /* width: 5rem; */
}

.categories .card-deck .card img.card-img-top {
    opacity: 0.6;
}

.categories .card-deck .card:hover,
.categories .card-deck .card.active {
    border-color: #331500;
}

.categories .card-deck .card:hover img.card-img-top,
.categories .card-deck .card.active img.card-img-top {
    opacity: 1;
}

.categories .card img.card-img-top {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

/* BOOKS */
.categories .card-deck,
 #booksSection .card-deck {
    margin-left: 0 !important; /* bootstrap bug fix horizontal scroller*/
    margin-right: 0 !important; /* bootstrap bug fix horizontal scroller*/

}

/* books list */
#booksSection .card-deck .card {
    /* margin: 0 auto; */
    max-width: 12rem;
    min-width: 12rem;
    /* width: 12rem; */
}

#booksSection .card-deck .card > a {
    display: block;
    height: 14rem;
}

/* categories & book list display on small screen - override bootstrap flex-column */
@media (max-width: 576px) { 
    .categories .card-deck,
    #booksSection .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .categories .card-deck .card,
    #booksSection .card-deck .card {
        margin-left: auto;
        margin-right: auto;
    }

    #bookDetailsSection .media {
        flex-direction: column; /* details go below img on small screen */
    }
    
    #bookDetailsSection .media img {
        margin: 0 auto;
    }
}

/* BOOK DETAILS */
.text-bigger {
    font-size: 1.1rem;
}

img.loader {
    margin-bottom: 30rem;
}

/* RATING */
.rating a {
    text-decoration: none;
}

/* REVIEW FORM ANIMATION */
#addReview .animate-show-hide {
    transition: all linear 0.5s;
    opacity: 1;
}
      
#addReview .ng-hide {
    opacity: 0;
}


/* PAGINATION styles (uib-pagination works with Bootstrap 3)*/
.pagination .pagination-prev a,
.pagination .pagination-next a,
.pagination .pagination-page a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .pagination-page.active a {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .pagination-prev a:hover,
.pagination .pagination-next a:hover,
.pagination .pagination-page a:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .pagination-prev.disabled a,
.pagination .pagination-next.disabled a {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination .pagination-prev:first-child a,
.pagination .pagination-next:first-child a,
.pagination .pagination-page:first-child a {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination .pagination-prev:last-child a,
.pagination .pagination-next:last-child a,
.pagination .pagination-page:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

/* sorting */
.sorting .custom-select {
    vertical-align: bottom;
    padding-top: .2rem;
}

/* search field*/
#search-form .form-control:focus {
    border-color: orange;
    box-shadow: none;
}