body {
    line-height: 1.1;
}

.footer {
    background-color: #331500;
}

.navbar-brand { position: relative; z-index: 2; color: #fff }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: #170900;
    border-color: #170900;
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 #button-collapse-navbar {
     float: right;
 }

 @media screen and (max-width: 500px) {
    #search-btn {
        margin-top: -1em;
    }
 }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}


#search-input {
    float: left;
}

#search-form {
    margin-left: 1em;
}

#search-input {
    width: 17em;
}
@media screen and (max-width: 850px) {
    #search-input {
        width: 10em;
    }
}

@media screen and (max-width: 650px) {
    #search-form {
        margin-bottom: 0.5em;
    }
    #search-input {
        width: 14em;
    }
    #navbar-collapse-3 {
        margin-bottom: 0.5em;
    }
}


.nav-link {
    display: inline-block;
}
.nav-icon {
    width: 1.5em;
}
#navbar-collapse-3 ul > li {
    color: #AA6839;
    padding: 0.1em;
}
#navbar-collapse-3 ul > li > a {
    color: #fff;
}

#navbar-collapse-3 ul > li:hover > a {
    color: #AA6839;
}

#navbar-collapse-3 ul > li:hover {
    background-color: #170900;
    cursor: pointer;
}

#bookzon-title {
    color: #fff;
    float: none;
    font-size: 1.7em;
}
.navbar {
    border-radius: 0;
    background-color: #331500;
}

.navbar a,
.navbar li {
    color: #fff;
    padding-left:0.2em;
    padding-right:0.2em;
}
main {
    min-height: 90%;
}
#main-navbar {
    color: #fff;
    padding:0;
}
#nav-collapse3 {
    background-color: #331500;
}

#bookzon-logo {
    margin-top: 0.4em;
    margin-right: 0.4em;
}

#search-btn {
    background-color: #AA6839;
    color:#fff;
}

#button-collapse-navbar {
    border-color: #fff;
    background-color: #331500;
    margin-right: 0.1rem;
}


.ng-cloak {
    display: none !important;
}

.nav-item:last-of-type {
    z-index:2;
}
/* 
.nav-item:last-of-type > a {
    padding: 0.2rem .5rem;
} */

#amazon-profile-user-name {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid #7C4823;
    background-color: hsl(60, 48%, 87%);
    height: 100%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(84,42,12,0.76);
    -moz-box-shadow: 0px 4px 8px 0px rgba(84,42,12,0.76);
    box-shadow: 0px 4px 8px 0px rgba(84,42,12,0.76);
}

#amazon-profile {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}



.option-card {
    width:25%;
    border: 1px solid #E6BB9D;
    display:inline-block;
    margin: auto 0.5rem;
    color: #331500;
}

@media screen and (max-width:350px) {
    .option-card {
        width:90%;
    }
}
.option-card:hover {
    cursor: pointer;
    background-color: #FFE4D1;
}
.option-imgs {
    width:4em;
    height: 4em;
}
    
.profile-nav {
    font-size: 0.8rem;
}
#edit-profile,
#add-new-book-form,
#my-cart,
#single-order,
#all-orders,
#pending-orders-container {
    width:40%;
    margin: 0 auto;
    margin-top: 1em;
}

#edit-profile > div,
#add-new-book-form > div,
#my-cart > div,
#single-order > div,
#all-orders > div, 
#pending-orders-container > div{
    margin-bottom: 1em;
}

#edit-profile > div > h2
#add-new-book-form > div > h2,
#my-cart > div > h2,
#single-order > h2,
#all-orders > h2,
#pending-orders-container > h2 {
    margin-top: 1em;
}


.captions {
    font-weight: bold;
}

#edit-profile-form,
#address-form,
#add-new-book-form,
#order-info,
#user-orders,
#pending-orders-container > div {
    border: 1px solid #E6BB9D;
    border-radius: 0.25rem;
}

#address-form > div,
#add-new-book-form > div,
#order-info > div,
#user-orders > div,
#pending-orders-container > div {
    padding: 0.5em;
    padding-bottom: 1.5em;
}

#edit-profile-form > div:last-of-type {
    display: inline-block;
    width: 100%;
}
#user-orders > div {
    border-bottom: 1px solid #E6BB9D;
}

#order-info > div > h3 {
    margin-bottom: 1em;
}

#order-info > div label {
    font-size: 1.1em;
    color: #331500;
    font-weight: bold;
}

#empty-cart {
    border: 1px solid #E6BB9D;
    border-radius: 0.25rem;
    padding: 0.5em;

}

#edit-profile-form > div,
#add-new-book-form > div,
#order-info > div {
    border-bottom: 1px solid #E6BB9D;
    padding: 0.5em;
    padding-bottom: 1.5em;
}

#edit-profile-form > div:last-of-type,
#add-new-book-form > div:last-of-type {
    border-bottom: none;
    margin-bottom: 0.3em;
}
#add-new-book-container {
    margin: 1em 0;
    text-align: center;

}
#add-new-book-form {
    width: 30%;
    text-align: left;
}

#add-new-book-form > div > input,
#add-new-book-form > div > textarea {
    width: 80%; 
}


#add-new-book-form > div > textarea {
    height: 5em;
}
.errors {
    color: red;
    font-size: 0.9em;
}

.buttons {
    color: #331500;
}

.edit-profile-btn {
    float: right;
}

.delete-book-btns {
    float: right;
    width: 7em;
    margin: 0 auto 1em auto;
}
#password-conditions {
    color: #331500;
}

#edit-address {
    width: 20em;
}

#address-form {
    margin-bottom: 2em;
}

.form-inputs {
    width: 80%;
    display:inline-block;
}

.form-inputs:focus {
    border-color: #7C4823;
}

#remove-all-from-cart {
    text-align: center;
    padding: 1em 0;
}
#remove-all-from-cart > button {
    float: none;
    margin-bottom: 0.5em;
}
#books-in-cart {
    display: inline-block;
    border: 1px solid #E6BB9D;
    border-radius: 0.25rem;
    padding: 0.5em;
}

#books-in-cart > table {
    border-top: 1px solid #E6BB9D;
    border-bottom: 1px solid #E6BB9D;
}
#books-in-cart td {
    padding-top: 1em;
    padding-bottom: 1em;
}
.book-in-cart-img {
    width: 30%;
}
.book-in-cart-img img {
    width:100%;
}
.book-in-cart-name > a {
    color: #331500;
    font-weight: bold;
}

.book-in-cart-price {
    text-align: center;
}
.book-in-cart-price > .price {
    color: #331500;
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

.book-in-cart-price > div > .buttons {
    float: none;
    font-size: 0.9em;
}

#cart-prices {
    margin: 1em 0;
    float: right;
    font-size: 1.1em;
    color: #331500;
}

#cart-prices td {
    padding-top: 0;
    padding-bottom: 1em;    
    padding-right: 1em;
}
.free-delivery {
    font-weight: bold;
    color: green;
}
#order-button {
    font-size: 1.5em;
}


#add-to-cart-btn {
    float: none;
    font-size:1.2em;
}

#add-to-cart-btn > img {
    width: 1.6em;
}
.not-available-product {
    color: red;
    font-size: 1em;
}

#credit-card-info {
    display: inline-block;
}
#credit-card-info h6 {
    margin-top: 1em;
}
#credit-card-info-name {
    width: 80%;
}
#credit-card-info-card-number {
    width: 70%;
}
#credit-card-info-date, {
    width: 45%;
}

#credit-card-info-cvv-number {
    width: 70px;
}

#save-card-info-btn {
    margin-top: 1em;
    float: left;
    font-size: 1.1em
}


.transaction > div:first-of-type {
    display:inline-block;
    margin-right: 2em;
}
#not-filled {
    color: #331500;  
}

#order-info div #error-credit-card {
    color: red;
    font-weight: normal;
    margin-top:1em;
    margin-bottom: 1em;
    font-size: 1em;
}

.acc-info-values {
    font-weight: normal;
}

#order-prices {
    font-size: 1.2em;
    margin: 1em;
    width: 40%;
}

#order-prices > button {
    float:none;
    margin-top: 0.5em;
    font-size: 1.2em;
}

#admin-buttons {
    width:40%;
}
.single-notification {    
    padding: 1em;
    border-bottom: 1px solid #e9ecef;
    display:inline-block;
    width: 100%;
}

.single-notification:last-of-type {
    border-bottom: none;
}
.notification-text {
    display: inline-block;
}

.notification-button {
    float: right;
}
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}
  
  
  .modal-backdrop.fade {
      opacity: 0.5 !important;
  }

.edit-btn {
    margin-left: 1em;
    width: 20px;
}

.edit-btn:hover {
    cursor: pointer;
}
.delete-review-btn {
    width: 20px;
}

.delete-review-btn:hover {
    cursor: pointer;
}

#slides-control {
    position: relative;
    overflow: hidden;
    min-height: 250px;
}

#carousel-container {
    margin: 2em auto;
}

.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators .active {
    background-color: #331500;
}
.carousel-indicators > li {
    background-color: #AA6839
}
.item img {
    width: 12em;
    padding: 0 2em;
    margin-bottom: 1em;
}
.item:not(.active) {
    display:none;
}

.right.carousel-control, .left.carousel-control {
    display: inline;
}

.slide-book-container {
    display:inline-block;
    padding: 0.5em;
}

.slide-book-container > a {
    margin-top: 0.2em;
    color: #331500;
}

@media screen and (max-width:900px) {
    .option,
    #edit-address,
    #edit-profile,
    #add-new-book-form,
    #my-cart,
    #single-order,
    #all-orders,
    #pending-orders-container {
        width: 90%;
    }
}

@media screen and (max-width: 350px) {
    .option,
    #edit-address,
    #single-order,
    #all-orders,
    #pending-orders-container  {
        width: 90%;
    }

    #add-to-cart-btn {
        font-size: 1em;
    }
}
