body {
    line-height: 1.1;
}
.navbar-brand { position: relative; z-index: 2; color: #fff }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: #170900;
    border-color: #170900;
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 #button-collapse-navbar {
     float: right;
 }

 @media screen and (max-width: 500px) {
    #search-btn {
        margin-top: -1em;
    }
 }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}


#search-input {
    float: left;
}

#search-form {
    margin-left: 1em;
}

#search-input {
    width: 17em;
}

@media screen and (max-width: 650px) {
    #search-form {
        margin-bottom: 0.5em;
    }

    #navbar-collapse-3 {
        margin-bottom: 0.5em;
    }
}
.nav-link {
    display: inline-block;
}
.nav-icon {
    width: 1.5em;
}
#navbar-collapse-3 ul > li {
    color: #AA6839;
    padding: 0.1em;
}
#navbar-collapse-3 ul > li > a {
    color: #fff;
}

#navbar-collapse-3 ul > li:hover > a {
    color: #AA6839;
}

#navbar-collapse-3 ul > li:hover {
    background-color: #170900;
    cursor: pointer;
}

#bookzon-title {
    color: #fff;
    float: none;
    font-size: 1.7em;
    padding-top: 0.5em;
}
.navbar {
    border-radius: 0;
    background-color: #331500;
}

.navbar a,li {
    color: #fff;
    padding-left:0.2em;
    padding-right:0.2em;
}

#main-navbar {
    color: #fff;
    padding:0;
}
#nav-collapse3 {
    background-color: #331500;
}

#bookzon-logo {
    margin-top: 0.4em;
    margin-right: 0.4em;
}

#search-btn {
    background-color: #AA6839;
    color:#fff;
}

#button-collapse-navbar {
    border-color: #fff;
    background-color: #331500;
    margin-right: 0.1rem;
}


.ng-cloak {
    display: none !important;
}

.nav-item:last-of-type {
    z-index:2;
}

.nav-item:last-of-type > a {
    padding: 0.2rem .5rem;
}

#amazon-profile-user-name {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid #7C4823;
    background-color: hsl(60, 48%, 87%);
    height: 100%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(84,42,12,0.76);
    -moz-box-shadow: 0px 4px 8px 0px rgba(84,42,12,0.76);
    box-shadow: 0px 4px 8px 0px rgba(84,42,12,0.76);
}

#amazon-profile {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.option {
    display: inline-block;
    width: 20em;
    height: 6em;
    vertical-align: top;
    border: 1px solid #E6BB9D;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5rem;
    text-align: left;
}

.option:hover {
    cursor: pointer;
    background-color: #FFE4D1;
    
}



.option-description {
    font-size: 0.7rem;
}
.option-icons {
    width: 4em;
}

.option-icon-container {
    padding-right: 0.5rem;
}

.profile-nav {
    font-size: 0.8rem;
}
#edit-profile,
#add-new-book-form {
    width:40%;
    margin: 0 auto;
    margin-top: 1em;
}

#edit-profile > div,
#add-new-book-form > div {
    margin-bottom: 1em;
}

#edit-profile > div > h2
#add-new-book-form > div > h2 {
    margin-top: 1em;
}


.captions {
    font-weight: bold;
}

#edit-profile-form,
#address-form,
#add-new-book-form {
    border: 1px solid #E6BB9D;
    border-radius: 0.25rem;
}

#address-form > div,
#add-new-book-form > div {
    padding: 0.5em;
    padding-bottom: 1.5em;
}

#edit-profile-form > div,
#add-new-book-form > div {
    border-bottom: 1px solid #E6BB9D;
    padding: 0.5em;
    padding-bottom: 1.5em;
}

#edit-profile-form > div:last-of-type,
#add-new-book-form > div:last-of-type {
    border-bottom: none;
    margin-bottom: 0.3em;
}
#add-new-book-container {
    margin: 1em 0;
    text-align: center;

}
#add-new-book-form {
    width: 30%;
    text-align: left;
}

#add-new-book-form > div > input,
#add-new-book-form > div > textarea {
    width: 80%; 
}


#add-new-book-form > div > textarea {
    height: 5em;
}
.errors {
    color: red;
    font-size: 0.9em;
}

.buttons {
    float: right;
    color: #fff;
    background-color: #331500;
    border-color: #331500;
    padding: 0.1em 0.5em;
    border-radius: 5px;
}

.buttons:hover {
    background-color: #7C4823;
    border-color: #7C4823;
}

.delete-book-btns {
    width: 7em;
    margin: 0 auto 1em auto;
}
#password-conditions {
    color: #331500;
}

#edit-address {
    width: 20em;
}



#address-form {
    margin-bottom: 2em;
}

.form-inputs {
    padding: 0.2em 0.6em;
    border-radius: 5px;
    border: 1px solid #331500;
    outline: none;
    height: 2em;
}

.form-inputs:focus {
    border-color: #7C4823;
}

@media screen and (max-width:500px) {
    #edit-profile {
        width: 90%;
    }

    #add-new-book-form {
        width: 90%;
    }
}

@media screen and (max-width: 350px) {
    .option {
        width: 90%;
    }

    #edit-address {
        width: 90%;
    }
}
