<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookzon Login</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel='stylesheet' href='assets/stylesheets/loginAndRegister.css' />

    <!-- vendor -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="assets/js/app.js"></script>


    <script src="assets/js/Validator.js"></script>
    <script src="assets/js/loginAndRegister/LoginAndRegisterController.js"></script>
    <script src="assets/js/loginAndRegister/loginAndRegisterService.js"></script>


</head>

<body ng-app='loginApp'>
    <div class="container" ng-controller="LoginAndRegisterController">

        <header>
            <h1>Welcome to <a id='link-to-home' href='/'>Bookzon</a></h1>

        </header>
        <section>
            <div id="container_demo">
                <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                    <div id="login" class="animate form">
                        <form action="mysuperscript.php" autocomplete="on">
                            <h1>Log in to Bookzon</h1>
                            <p>
                                <label for="email" class="youmail"> Your email</label>
                                <input id="email" ng-model='attemptingUser.email' name="email" required="required" type="email" placeholder="mymail@mail.com"
                                />
                                <p ng-show='wrongEmail' class='ng-hide error'>Invalid email</p>
                            </p>
                            <p>
                                <label for="password" class="youpasswd"> Your password </label>
                                <input id="password" ng-model='attemptingUser.password' name="password" required="required" type="password" placeholder="eg. X8df!90EO"
                                />
                                <p ng-show='wrongPassword' class='error ng-hide'>Invalid password</p>
                                <p ng-show='noUser' class='ng-hide error'>There is no user with this email/password!</p>
                            </p>
                            <p ng-click='userLogin($event)' class="login button">
                                <input type="submit" value="Login" />
                                <a href="http://cookingfoodsworld.blogspot.in/" target="_blank"></a>
                            </p>
                            <p class="change_link">
                                Not a member yet ?
                                <!-- problem with url from login to register -->
                                <a href="#toregister" class="to_register">Join us</a>
                            </p>
                        </form>
                    </div>

                    <div id="register" class="animate form">
                        <form action="mysuperscript.php" autocomplete="on">
                            <h1>Sign up</h1>
                            <p>
                                <label for="namesignup" class="name"> Your name</label>
                                <input ng-model='newUser.name' id="namesignup" name="namesignup" required="required" type="text" placeholder="eg. John Doe"
                                />
                                <p ng-show='wrongSignUpName' class='ng-hide error'>Invalid name</p>
                            </p>
                            <p>
                                <label for="emailsignup" class="youmail"> Your email</label>
                                <input ng-model='newUser.email' id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/>
                                <p ng-show='wrongSignUpEmail' class='ng-hide error'>Invalid email</p>
                            </p>
                            <p>
                                <label for="passwordsignup" class="youpasswd">Your password </label>
                                <input ng-model='newUser.password' id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"
                                />
                                <p ng-show='wrongSignUpPassword' class='ng-hide error'>Invalid password</p>
                            </p>
                            <p>
                                <label for="passwordsignup_confirm" class="youpasswd">Please confirm your password </label>
                                <input ng-model='newUser.confirmPassword' id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password"
                                    placeholder="eg. X8df!90EO">
                                <p ng-show='wrongSignUpConfirmPassword' class='ng-hide error'>Invalid confirm password</p>
                                <p ng-show='alreadyRegistered' class='ng-hide error'>There is registered user with this email</p>
                                
                            </p>
                            <p ng-click='userRegister($event)' class="signin button">
                                <input type="submit" value="Sign up" />
                            </p>
                            <p class="change_link">
                                Already a member ?
                                <a href="#tologin" class="to_register"> Go and log in </a>
                            </p>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>

</html>