<div class="container container-fluid" ng-controller="BookDetailsController as ctrl">
    <div ng-controller="ReviewsController as rCtrl">
        <!-- Book details -->
        <section id="bookDetailsSection" class="container container-fluid p-3">
            <a class="btn btn-link mb-3 p-0" ng-href="#!books"><span class="text-bigger">&#171;</span> All books</a>
            <button class='buttons delete-book-btns' ng-controller='BooksController as booksCtr' ng-click='booksCtr.deleteBook(ctrl.bookDetails._id, true)' ng-show='booksCtr.isAdmin'>Delete book</button>
            <div class="media">
                <img width='130px' ng-if='ctrl.bookDetails.volumeInfo.imageLinks.smallThumbnail' ng-src="{{ctrl.bookDetails.volumeInfo.imageLinks.smallThumbnail}}" alt="{{ctrl.bookDetails.volumeInfo.title}}">
                <img width='130px' ng-if='!ctrl.bookDetails.volumeInfo.imageLinks.smallThumbnail' src="assets/images/no-cover.png" alt="{{ctrl.bookDetails.volumeInfo.title}}">
                <div class="media-body pl-3">
                    <div class="book-heading">
                        <h3 class="mt-0">{{ctrl.bookDetails.volumeInfo.title}}</h3>
                        <small>by {{ctrl.bookDetails.volumeInfo.authors[0]}} (Author)</small>
                    </div>
                    <div class="rating">
                        <div class="mt-2 mb-2" ng-if="rCtrl.avgRating">
                            <a ng-click="rCtrl.scrollTo('reviewsSection')" href="">
                                <span class="text-warning" uib-rating ng-model="rCtrl.avgRating" max="5" read-only="true" state-on="'fas fa-star'" state-off="'far fa-star'" aria-labelledby="custom-icons-1"></span>      
                                <span class="label text-primary">{{rCtrl.reviews.length}} customer {{(rCtrl.reviews.length == 1 ? "review" : "reviews")}}</span>
                            </a>
                        </div>
                        <a class="btn btn-link p-0" ng-if="!rCtrl.avgRating" ng-click="rCtrl.scrollTo('reviewsSection')" href=""><small>Be the first to review this book</small></a>
                    </div>
                    <hr class="mt-0"/>
                    <p>{{ctrl.bookDetails.volumeInfo.description}}</p>
                    <p><b>Page Count: </b>{{ctrl.bookDetails.volumeInfo.pageCount}}</p>
                    <p><b>ISBN-10: </b>{{ctrl.bookDetails.volumeInfo.industryIdentifiers[0].identifier}}</p>
                    <p><b>ISBN-13: </b>{{ctrl.bookDetails.volumeInfo.industryIdentifiers[1].identifier}}</p>
                    <p><b>Publisher: </b>{{ctrl.bookDetails.volumeInfo.publisher}}</p>
                    <p><b>Publication Date: </b>{{ctrl.bookDetails.volumeInfo.publishedDate}}</p>
                    <hr class="mt-0"/>
                    <p><b>Price: </b>${{ctrl.bookDetails.volumeInfo.price}}</p>
                    <hr class="mt-0"/>
                    <p ng-show='ctrl.isLogged && ctrl.isAvailable'>
                        <button ng-click='ctrl.addToCart()' id='add-to-cart-btn' class='btn btn-md btn-warning'>
                            <img src='assets/images/icons/cart.png'/>Add to cart</button>
                    </p>
                    <p class='not-available-product' ng-show='!ctrl.isAvailable'>This book is currently out of stock!</p>
                    <hr ng-show='ctrl.isLogged && ctrl.isAvailable' class="mt-0"/>
                </div>
            </div>
        </section>

        <section id="reviewsSection" class="container container-fluid p-3">
            <h4>Customer Reviews</h4>
            <!-- Average star rating -->
            <div class="rating mt-3 mb-2">
                <div ng-if="rCtrl.avgRating">
                    <div>
                        <span class="text-warning" uib-rating ng-model="rCtrl.avgRating" max="5" read-only="true" state-on="'fas fa-star'" state-off="'far fa-star'" aria-labelledby="custom-icons-1"></span>      
                        <!-- <span class="label text-primary">{{ctrl.bookDetails.volumeInfo.ratingsCount}} customer {{(ctrl.bookDetails.volumeInfo.ratingsCount == 1 ? "review" : "reviews")}}</span> -->
                        <span class="label text-primary">{{rCtrl.reviews.length}} customer {{(rCtrl.reviews.length == 1 ? "review" : "reviews")}}</span>
                    </div>
                    <div class="text-muted mt-1"><small>{{rCtrl.avgRating}} out of 5 stars</small></div>
                </div>
                <div ng-if="!rCtrl.avgRating">
                    <p class="font-wight-bold">There are no customer reviews yet.</p>
                </div>
            </div>
            <hr class="mt-0"/>

            <!-- Add review -->
            <div id="addReview" class="mb-2">
                <p>Share your thoughts with other customers</p>
                <a class="btn btn-warning" href="" ng-click="rCtrl.toggleReviewForm()">Write a customer review</a>
                <form ng-hide="rCtrl.addReviewCollapsed" name="ReviewForm" class="mt-4 p-4 border border-warning rounded animate-show-hide" novalidate>
                    <div class="form-group">
                        <h4>
                            <span class="text-warning" name="rating" uib-rating ng-model="rCtrl.review.rating" max="5" enable-reset="false" read-only="false" state-on="'fas fa-star'" state-off="'far fa-star'" on-hover="rCtrl.addRating.hoveringOver(value)" on-leave="rCtrl.addRating.hoveringOut()" aria-labelledby="custom-icons-1" ng-click="rCtrl.addRating.setRating()" required></span>
                            <small class="label" ng-class="{'text-danger': rCtrl.addRating.percent<50, 'text-warning': rCtrl.addRating.percent==60, 'text-success': rCtrl.addRating.percent>=70}" ng-show="rCtrl.addRating.overStar">{{rCtrl.addRating.caption}}</small>
                        </h4>
                    </div>

                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" ng-model="rCtrl.review.title" ng-minlength="5" ng-maxlength="50" required ng-class="{'is-invalid': ReviewForm.title.$invalid && ReviewForm.title.$touched}">
                        <div class="help-block" ng-messages="ReviewForm.title.$error" ng-if="ReviewForm.title.$touched">
                            <p class="text-danger" ng-message="required"><small>Title is required.</small></p>
                            <p class="text-danger" ng-message="minlength"><small>Title is too short.</small></p>
                            <p class="text-danger" ng-message="maxlength"><small>Title is too long.</small></p>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label>Review</label>
                        <textarea type="text" name="text" class="form-control" ng-model="rCtrl.review.text" ng-maxlength="1000"></textarea>
                    </div>
                    
                    <p class="text-danger" ng-hide="ctrl.isLogged"><small>Only logged users can write a review. Please <a href="login.html">login</a>.</small></p>
                    <div class="form-group">
                        <button type="submit" id="addReviewBtn" class="btn btn-warning" ng-click='rCtrl.addReview($event)' ng-disabled="ReviewForm.$invalid">Submit</button>
                    </div>
                </form>
                <hr />
            </div>
    
            <!-- All reviews for this book -->
            <div id="reviews">
                <div class="media" ng-repeat="r in rCtrl.reviews">
                    <div class="media-body">
                      <h6 class="mb-0 font-weight-bold">
                        <small class="text-warning" uib-rating ng-model="r.rating" max="5" read-only="true" state-on="'fas fa-star'" state-off="'far fa-star'" aria-labelledby="custom-icons-1"></small>
                        <span class="ml-1">{{r.title}}</span>
                    </h6>
                    <p><small class="text-muted">By {{r.username}} on {{r.date}}</small></p>
                    <p>{{r.text}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <!-- Modal dialog after adding to cart -->
    <div>
        <div class="modal-bg">
            <div class="dialog">

                <div id='show-modal-dialog' class="modal fade bs-example-modal-lg show" focus-group focus-group-head="loop" focus-group-tail="loop"
                    focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Book info</h4>
                            </div>
                            <div ng-show='ctrl.addedToCart' class="modal-body">
                                This book has already been added to cart!
                            </div>
                            <div ng-show='!ctrl.addedToCart' class="modal-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class='book-in-cart-img'>
                                                
                                                    <img class="mr-3" width='130px' ng-if='ctrl.bookDetails.volumeInfo.imageLinks.smallThumbnail' ng-src="{{ctrl.bookDetails.volumeInfo.imageLinks.smallThumbnail}}"
                                                    alt="{{ctrl.bookDetails.volumeInfo.title}}">
                                                <img class="mr-3" width='130px' ng-if='!ctrl.bookDetails.volumeInfo.imageLinks.smallThumbnail' src="assets/images/no-cover.png"
                                                    alt="{{ctrl.bookDetails.volumeInfo.title}}">
                                                
                                            </td>
                                            <td class='book-in-cart-name'>
                                                <b>{{ctrl.bookDetails.volumeInfo.title}}</b>
                                                <br/>
                                                <small>by {{ctrl.bookDetails.volumeInfo.authors[0]}} (Author)</small>
                                            </td>
                                            <td class='book-in-cart-price'>
                                                <div class='price'>${{ctrl.bookDetails.volumeInfo.price}}</div>
                                            
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click='ctrl.closeModal()' class="buttons btn btn-sm btn-default" focus-element="autofocus" data-dismiss="modal">Close</button>
                                <button ng-click='ctrl.goToCart()' type="button" class="buttons btn btn-md btn-warning"><img width='30em' src="assets/images/icons/cart.png" alt=""/> Go to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>