<div id='add-new-book-container'>
    <h2>Add new book</h2>
    <form id='add-new-book-form' name='AddBookForm'>
        <div class='form-group'>
            <p>
                <label class='captions'>Title*</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.title' id='title' type="text" name='title' ng-minlength="3"
                ng-maxlength="30" required ng-class="{'is-invalid': AddBookForm.title.$invalid && AddBookForm.title.$touched}"
            />
            <div class="help-block" ng-messages="AddBookForm.title.$error" ng-if="AddBookForm.title.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Title is required.</small>
                </p>
                <p class="text-danger" ng-message="minlength">
                    <small>Title is too short.</small>
                </p>
                <p class="text-danger" ng-message="maxlength">
                    <small>Title is too long.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Author*</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.author' id='author' type="text" name='author' ng-minlength="3"
                ng-maxlength="30" required ng-class="{'is-invalid': AddBookForm.author.$invalid && AddBookForm.author.$touched}"
            />
            <div class="help-block" ng-messages="AddBookForm.author.$error" ng-if="AddBookForm.author.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Author is required.</small>
                </p>
                <p class="text-danger" ng-message="minlength">
                    <small>Author is too short.</small>
                </p>
                <p class="text-danger" ng-message="maxlength">
                    <small>Author is too long.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Category*</label>
            </p>
            <select class='form-inputs form-control' ng-model='admin.newBook.category' id='category' type="text" name='category' required
                ng-class="{'is-invalid': AddBookForm.category.$invalid && AddBookForm.category.$touched}">
                <option value="art">Art</option>
                <option value="photography">Photography</option>
                <option value="biographies">Biographies</option>
                <option value="memoirs">Memoirs</option>
                <option value="business">Business</option>
                <option value="investing">Investing</option>
                <option value="cooking">Cooking</option>
                <option value="food">Food</option>
                <option value="wine">Wine</option>
                <option value="history">History</option>
                <option value="literature">Literature</option>
                <option value="fiction">Fiction</option>
                <option value="mystery">Mystery</option>
                <option value="suspense ">Suspense</option>
                <option value="romance">Romance</option>
                <option value="sci-fi">Sci-Fi</option>
                <option value="fantasy">Fantasy</option>
                <option value="teens">Teens</option>
            </select>
            <div class="help-block" ng-messages="AddBookForm.category.$error" ng-if="AddBookForm.category.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Category is required.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Description</label>
            </p>
            <textarea class='form-inputs form-control' ng-model='admin.newBook.description' id='description' type="text" name='description'></textarea>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Page Count</label>
            </p>
            <input min="1" class='form-inputs form-control' ng-model='admin.newBook.pages' id='pages' type="number" name='pages' />
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>ISBN-10</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.isbn10' id='isbn10' type="number" name='isbn10' />
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>ISBN-13</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.isbn13' id='isbn13' type="number" name='isbn13' />
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Publisher*</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.publisher' id='publisher' type="text" name='publisher' ng-minlength="2"
                ng-maxlength="30" required ng-class="{'is-invalid': AddBookForm.publisher.$invalid && AddBookForm.publisher.$touched}"
            />
            <div class="help-block" ng-messages="AddBookForm.publisher.$error" ng-if="AddBookForm.publisher.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Publisher is required.</small>
                </p>
                <p class="text-danger" ng-message="minlength">
                    <small>Publisher is too short.</small>
                </p>
                <p class="text-danger" ng-message="maxlength">
                    <small>Publisher is too long.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Publication Date*</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.publishedDate' id='publishedDate' type="date" name='publishedDate'
                required ng-class="{'is-invalid': AddBookForm.publishedDate.$invalid && AddBookForm.publishedDate.$touched}"
            />
            <div class="help-block" ng-messages="AddBookForm.publishedDate.$error" ng-if="AddBookForm.publishedDate.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Publication date is required.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Price &#36; *</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.price' type="text" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name='price'
                min='1' ng-min="1" required ng-class="{'is-invalid': AddBookForm.price.$invalid && AddBookForm.price.$touched}"
            />
            <div class="help-block" ng-messages="AddBookForm.price.$error" ng-if="AddBookForm.price.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Price is required.</small>
                </p>
                <p class="text-danger" ng-message="pattern">
                    <small>Price must be a valid number</small>
                </p>
                <p class="text-danger" ng-message="min">
                    <small>Price cannot be a negative number.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions'>Quantity*</label>
            </p>
            <input class='form-inputs form-control' ng-model='admin.newBook.quantity' id='quantity' type="number" name='quantity' min='0'
                ng-min="0" required ng-class="{'is-invalid': AddBookForm.quantity.$invalid && AddBookForm.quantity.$touched}"
            />
            <div class="help-block" ng-messages="AddBookForm.quantity.$error" ng-if="AddBookForm.quantity.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Quantity is required.</small>
                </p>
                <p class="text-danger" ng-message="min">
                    <small>Quantity cannot be a negative number.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>
            <p>
                <label class='captions '>Select image for thumbnail</label>
            </p>
            <input class='form-control' type="file" name="bookImage" id='file' file-model='admin.newBook.file' required ng-class="{'is-invalid': AddBookForm.file.$invalid && AddBookForm.file.$touched}"
            />
            <div class="help-block" ng-messages="AddBookForm.file.$error" ng-if="AddBookForm.file.$touched">
                <p class="text-danger" ng-message="required">
                    <small>Thumbnail is required.</small>
                </p>
            </div>
        </div>
        <div class='form-group'>

            <button class='btn btn-warning btn-md' ng-disabled="AddBookForm.$invalid" type='submit' ng-click='admin.addNewBook()'>Upload</button>
        </div>
    </form>
</div>