<div id='amazon-profile' class='ng-cloak'>
    <!-- <div id='amazon-profile' ng-controller='ProfileController as profile' ng-cloak> -->
    <h1 id='amazon-profile-user-name' class="text-center mb-4">{{profile.firstName}}'s Bookzon</h1>

    <div class="card-deck-wrapper mb-4">
        <div class="option-card card-deck card mb-3 pt-2" ng-click='profile.editProfile()'>

            <img class='option-imgs card-img' src='assets/images/icons/edit-profile.png' />
            <div class='card-body p-0 pb-1'>
                <h5 class='card-title text-center'>Edit profile</h5>
                <h6 class='card-text text-center'><small>Edit login, name, mobile number, address</small></h6>
            </div>
        </div>
        <div class="option-card card-deck card mb-3 pt-2" ng-click='profile.goToOrders()'>

            <img class='option-imgs card-img' src='assets/images/icons/orders.png' />
            <div class='card-body p-0 pb-1'>
                <h5 class='card-title text-center'>Your orders</h5>
                <h6 class='card-text text-center'><small>View your orders</small></h6>
            </div>
        </div>
        <div class="option-card card-deck card mb-3 mr-0 pt-2" ng-click='profile.goToCart()'>

            <img class='option-imgs card-img' src='assets/images/icons/cart.png' />
            <div class='card-body p-0 pb-1'>
                <h5 class='card-title text-center'>Your cart</h5>
                <h6 class='card-text text-center'><small>View Items in your cart</small></h6>
            </div>
        </div>
    </div>

</div>