<div id='amazon-profile' class='ng-cloak'>
<!-- <div id='amazon-profile' ng-controller='ProfileController as profile' ng-cloak> -->
    <h1 id='amazon-profile-user-name' class="text-center mb-4">{{profile.firstName}}'s Bookzon</h1>

    <section id='profile-options' class=''>

        <div class='option' ng-click='profile.editProfile()'>
            <table>
                <tr>
                    <td class='option-icon-container'>
                        <img class='option-icons' src='assets/images/icons/edit-profile.png' />
                    </td>
                    <td>
                        <p>Edit profile</p>
                        <p class='option-description'>Edit login, name, mobile number, address</p>
                    </td>
                </tr>
            </table>

        </div>

        <div class='option'>
            <table>
                <tr>
                    <td class='option-icon-container'>
                        <img class='option-icons' src='assets/images/icons/orders.png' />
                    </td>
                    <td>
                        <p>Your orders</p>
                        <p class='option-description'>View your orders</p>
                    </td>
                </tr>
            </table>
        </div>

        <div class='option' ng-click='profile.goToCart()'>
            <table>
                <tr>
                    <td class='option-icon-container'>

                        <img class='option-icons' src='assets/images/icons/cart.png' />
                    </td>
                    <td>
                        <p>Your cart</p>
                        <p class='option-description'>View Items in your cart</p>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>