<div class="modal-header">
    <h3 class="modal-title">Notifications</h3>
</div>
<div ng-class="modal-body">
    <div class='single-notification' ng-repeat="notification in mInstCtrl.notifications">
        <p class='notification-text'>{{notification.text}} </p>
        <button class='notification-button btn btn-sm btn-success' id='seenMessage' ng-click='mInstCtrl.seenMessage(notification.id)'>Okey</button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm" ng-click="mInstCtrl.cancel()">Close</button>
</div>